.index-title-cart {
  float: left;
  margin: 0 80px;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: rgb(66, 65, 65);
}
.product-name-cart {
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: rgb(66, 65, 65);
  margin-left: 30px;
  margin-right: 200px;
}
.cart hr {
  margin: 30px;
  color: rgb(165, 159, 159);
}
.clear-cart {
  border: 1px solid rgb(250, 124, 107);
  border-radius: 20px;
  padding: 10px;
  color: rgb(250, 124, 107);
  background-color: white;
  font-weight: 700;
  margin-top: -10px;
}
.clear-cart:hover {
  border: 1px solid rgb(250, 124, 107);
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: rgb(250, 124, 107);
  font-weight: 700;
}
.image-cart img {
  width: 100px;
  height: 100px;
  float: left;
  padding-left: 30px;
  margin-top: -10px;
  padding-bottom: 15px;
  cursor: pointer;
}
.title-cart {
  width: 200px;
  padding-left: 150px;
  font-weight: 500;
  position: relative;
  top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
.quantity-cart {
  float: left;
  margin-left: 270px;
  padding: 15px;
  border: 1px solid cornflowerblue;
  border-radius: 30px;
}

.minus {
  padding-right: 10px;
  color: rgb(129, 123, 123);
  cursor: pointer;
}
.plus {
  padding-left: 10px;
  color: rgb(129, 123, 123);
  cursor: pointer;
}
.act-price-cart {
  float: left;
  margin-left: 130px;
  text-decoration: line-through;
}
.des-price-cart {
  float: left;
}
.subtotal-cart {
  float: left;
  margin-left: 140px;
}
.cancel-button {
  margin-left: 220px;
  color: red;
  cursor: pointer;
}
.renderItemsInCart hr {
  clear: left;
}
.no-items {
  margin-left: 30px;
  margin-bottom: 15px;
}
.back-to-shop {
  padding: 15px;
  border: 1px solid cornflowerblue;
  border-radius: 30px;
  background-color: white;
  margin-left: 25px;
}
.back-to-shop:hover {
  padding: 15px;
  border: 1px solid cornflowerblue;
  border-radius: 30px;
  background-color: rgb(235, 228, 228);
}
.BiArrowBack {
  padding-right: 7px;
}
