.heading {
  border: 1px solid rgb(224, 223, 223);
  height: 100px;
  margin: 25px -10px 15px -10px;
  padding-left: 50px;
  padding-top: 10px;
  background-color: rgb(239, 251, 242);
  font-weight: 900;
  color: rgb(68, 64, 64);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#title-heading {
  float: left;
}
.renderTitles {
  margin-top: 18px;
  float: right;
  margin-right: 20px;
}
.links {
  font-size: small;
  text-decoration: none;
  color: rgb(82, 78, 78);
}
.links:hover {
  color: black;
}
.title-list {
  list-style-type: none;
  margin-left: -30px;
}
.title-ul {
  float: left;
}
