.list-of-sales {
  position: relative;
  left: 30px;
}
.slider-home {
  padding-top: 50px;
  height: 400px;
  background-size: cover;
  margin-top: 20px;
  background-repeat: no-repeat;
  margin-left: -10px;
  margin-right: -10px;
  background-image: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}
.new-arr {
  float: left;
  padding: 50px;
}
.list-of-sales h4 {
  color: rgb(80, 77, 77);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
