.image-homeItems img {
  width: 80px;
  height: 60px;
  float: left;
  cursor: pointer;
}
.homeItems {
  padding: 10px;
  width: 250px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(58, 55, 55);
}
.act-price-homeItems {
  text-decoration: line-through;
  color: rgb(141, 132, 132);
}
.title-homeItems {
  font-weight: bold;
  cursor: pointer;
}
