.image {
  margin: 20px;
  margin-left: 50px;
  height: 500px;
  width: 500px;
  border: 1px solid rgb(175, 167, 167);
  border-radius: 10px;
  float: left;
}
.content {
  margin: 20px;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  color: rgb(78, 72, 66);
}
#actual-price {
  color: rgb(182, 172, 172);
  text-decoration: line-through;
}
#des-price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#description {
  font-size: x-large;
}
.renderItem label {
  font-size: x-large;
}
#quantity {
  margin-top: 15px;
  margin-left: 10px;

  width: 150px;
  border: 1px solid rgb(233, 215, 215);
  border-radius: 40px;
  padding: 20px;
}
.offer {
  padding-top: 20px;
  padding-left: 20px;
  color: red;
}
.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
}

.renderItem button {
  border-radius: 40px;
  transition-duration: 0.4s;
  padding: 12px 28px;
  border: 2px solid #4caf50;
  color: rgb(255, 255, 255);
  background-color: #69c86c;
  font-size: 25px;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.renderItem button:hover {
  border-radius: 40px;
  background-color: #448d46;
  color: white;
  padding: 12px 28px;
  border: 2px solid #4caf50;
  font-size: 25px;
}
.renderItem hr {
  margin-top: 50px;
}
