.Header {
  margin-left: 400px;
  margin-top: -30px;
  padding: 30px;
  font-weight: bold;
  background-color: white;
  font-size: large;
  margin-bottom: 40px;
}
.menu {
  position: relative;
  left: -400px;
  top: 42px;
  cursor: pointer;
}

.active-header {
  color: white;
  background-color: rgb(166, 212, 166);
  border-radius: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.active-header:hover {
  color: #4caf50;
  background-color: rgb(166, 212, 166);
  border-radius: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: x-large;
  margin-left: 0px;
}
.header-li {
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-navlink {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
}

.header-navlink:hover {
  color: #4caf50;
}
