.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider {
  width: 500px;
  height: 350px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 3rem;
  color: rgb(46, 41, 41);
  opacity: 0.5;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 3rem;
  color: rgb(46, 41, 41);
  opacity: 0.5;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.act {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
