 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  width:100%;
  height:100%;
  position:relative;
}

.dFlex{
  display:flex;
  justify-content:center;
  align-items:center;
}
.container{
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
  padding:30px 50px 20px 50px;
  box-sizing:border-box;
  background-color:silver;
}
.navbar{
  justify-content:space-between;
  width:100%;
  color:white;
}
  .logo{
    font-size:30px;
    text-transform:uppercase;


  
}

.order{
  margin:0px;
  padding:0px;
  list-style-type:none;
}
.aa{
  font-size:24px;
  box-sizing:border-box;
  color:slategray;
  display:flex;
  cursor: pointer;
  padding:0px;
  justify-content: space-around;
}

.search{
  cursor: pointer;
  float:right;
  margin-right:10px;
  border:radius 20px ;
}
.main_content{
  position:relative;
  width:70%;
  height:100%;
  margin:50px auto;
  padding:50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}